<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Download</title>
    <link rel="stylesheet" href="/static/CSS/stylesbuysell.css">
</head>

<body>
    <header>
        <h1>Secure Land Transaction Management System using Digital Signature</h1>
    </header>
    <div class="result">
        <p>Incorrect Details have been entered</p>
    </div>

    <div class="container">
        <a class="button" style="vertical-align:middle" href="{% url 'Sell_land' %}"><span> Try Again
            </span></a>
    </div>

</body>

</html>